    <div class="nav-space" style="height: 30px;"></div>
    <div>
        <div class="container">
            <!--Main Section-->
            <section>
                    <div class="dvfst-logo-container">
                            <img src="/assets/DevFest Header.svg">
                            <img style="display: none;" src="/assets/dvfst2019.svg" class="item-effect">
                          </div>
                <div class="dvfst-logo-container display-4 " id="mainTitle">
                    <strong>
                        Code of Conduct
                    </strong>
                </div>
                <div class="item-container">
                    <img src="assets/Smiley.svg"  class="item-effect" style="display: inline; top: -20%; left: -10%; 
    transform:rotateZ(0deg);height: 100%;width:40%;">
                    <img src="assets/Hand.svg" class="item-effect" style="bottom: -20%; right: -30%; 
    transform:rotateZ(140deg); height: 90%;width:40%;">
                    <div class="item">
                        <div class="jumbotron bg-white mainJumbotron">
                            <p class="lead">GDG Algiers & WTM Algiers are dedicated to providing a harassment-free
                                experience for everyone, speakers, sponsors,organizers and participants. Committed to
                                creating an environment that is safe, professional and of mutual trust where diversity
                                and inclusion are valued, and where everyone is entitled to be treated with courtesy and
                                respect. We do not tolerate harassment in any form. Our organisers commit to making
                                conferences, workshops, hackathons and all associated activities productive and
                                enjoyable for everyone.
                            </p>
                            <hr class="my-4">
                            <p class="h5"> This code of conduct applies to all DevFest Algiers spaces, both online and
                                offline.
                                Anyone who violates this code of conduct may be sanctioned or expelled from all our
                                activities.
                                Some spaces may have additional rules in place, which will be made clearly available to
                                everyone.
                            </p>
                            <hr class="my-4">
                            <p class="h6">We expect everyone to follow these rules at all event venues, online
                                interactions in
                                relation to the event, and on event supplied transportation.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!--end Main Section-->
            <!--Commitement Section-->
            <section>
                <div class="dvfst-logo-container display-4 " id="mainTitle">
                    <strong>
                        <h1>Our Commitement</h1>
                    </strong>
                </div>
                <div class="item-container">
                        <img src="assets/Yellow effect.svg" class="item-effect" style="top: -55%; left: -40%; 
                        transform:rotateZ(-9deg);height: 130%;width:70%;">
                                    <img src="assets/Blue effect.svg" class="item-effect" style="bottom: -30%; right: -45%; 
                        transform:rotateZ(134deg); height: 150%;width:75%;">
                    <div class="item">
                        <div class="jumbotron bg-white mainJumbotron">
                            <p class="lead">Speakers, Sponsors, Organizers and Participants asked to stop any harassing
                                behavior are expected to comply immediately.
                                If a participant engages in harassing behavior, RESPONSE TEAM may take any action they
                                deem appropriate, up to and including expulsion from all GDG Algiers and WTM Algiers
                                spaces or events and identification of that person as a harasser to other GDG Algiers or
                                WTM Algiers members or the general public. We will be happy to help participants contact
                                venue security or local law enforcement, provide escorts, or otherwise assist those
                                experiencing harassment to feel safe for the duration of the event if needed.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end Commitement section -->
            <section>
                <div class="dvfst-logo-container">
                    <h1>Our beliefs And Rules </h1>
                </div>
                <div class="item-container">
                    <img src="assets/Hand.svg" class="item-effect" style="top: -50%; left: -30%; 
        transform:rotateZ(-6deg);height: 100%;width:40%;">
                    <img src="assets/Blue effect.svg" class="item-effect" style="bottom: -20%; right: -30%; 
        transform:rotateZ(140deg); height: 90%;width:40%;">
                    <div class="item">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Our beliefs stand for inclusivity. We believe that every single
                                        person has the right to learn new things, share their knowledge, grow their
                                        network and have fun in a safe and welcoming environment.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Booth staff (including volunteers) should not use sexualised
                                        clothing/uniforms/costumes, or otherwise create a sexualised environment.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <p class="car-text">Note that participants asked to stop any harassing behavior are
                                        expected to comply immediately. Sponsors, judges, mentors, volunteers,
                                        organizers, and anyone else at the event are also subject to the anti-harassment
                                        policy. In particular, attendees should not use sexualised images, activities,
                                        or other material during the event.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">If participants wish to share photos of a speaker on social
                                        media, we strongly recommend that they first get the speaker’s permission.
                                        Participants may also share the contents of talks/slides via social media unless
                                        speakers have asked that specific details/slides can not be shared.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Be respectful and behave professionally. Harassment and abuse
                                        are never tolerated. If you are in a situation that makes you uncomfortable at
                                        any of our events, if interacting with one of our representatives or event
                                        organizers makes you uncomfortable, please report it using the procedures
                                        included in this document.</p>
                                    <ul class="list-group ">
                                        <li class="list-group-item list-group-item-action">Pattern of inappropriate
                                            social contact, such as requesting/assuming inappropriate levels of intimacy
                                            with others.

                                        </li>
                                        <li class="list-group-item list-group-item-action">Harassing photography or
                                            recording, including logging online activity for harassment purposes
                                        </li>
                                        <li class="list-group-item list-group-item-action">Incitement of violence
                                            towards any individual, including encouraging a person to commit suicide or
                                            to engage in self-harm.
                                        </li>
                                        <li class="list-group-item list-group-item-action">offensive verbal or written
                                            comments related to gender, gender identity and expression, disability,
                                            mental illness, neuro(a)typicality, physical appearance, body size, age,
                                            race, or religion.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">GDG Algiers & WTM Algiers prioritize marginalized people’s
                                        safety over privileged people’s comfort. RESPONSE TEAM reserves the right not to
                                        act on complaints regarding</p>
                                    <ul class="list-group ">
                                        <li class="list-group-item list-group-item-action">‘Reverse’ -isms, including
                                            ‘reverse racism,’ ‘reverse sexism,’ and ‘cisphobia’
                                        </li>
                                        <li class="list-group-item list-group-item-action">Reasonable communication of
                                            boundaries, such as “leave me alone,” “go away,” or “I’m not discussing this
                                            with you.”
                                        </li>
                                        <li class="list-group-item list-group-item-action">Communicating in a ‘tone’ you
                                            don’t find congenial
                                        </li>
                                        <li class="list-group-item list-group-item-action">Criticizing racist, sexist,
                                            cissexist, or otherwise oppressive behavior or assumptions
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <section>
                <div class="dvfst-logo-container">
                    <h1>Things to keep in mind</h1>
                </div>
                <div class="item-container">
                    <img src="assets/Smiley.svg" class="item-effect" style="top: -25%; left: 0%; 
        transform:rotateZ(-4deg);height: 20%;width:20%;">
                    <img src="assets/Smiley.svg" class="item-effect" style="bottom: -34%; right: -0%; 
        transform:rotateZ(4deg); height: 40%;width:20%;">
                    <div class="item">
                        <div class="card-group">
                            <div class="card">
                                <h3 class="card-h3">At a DevFest Algiers,<br> you agree to</h3>
                                <div class="card-body">
                                    <ul class="list-group ">
                                        <li class="list-group-item list-group-item-action">Behave professionally and
                                            respectfully with everyone</li>
                                        <li class="list-group-item list-group-item-action">Adopt Diversity and Inclusion
                                        </li>
                                        <li class="list-group-item list-group-item-action">Avoid aggressively pushing
                                            your own services,
                                            products or causes.
                                        </li>
                                        <li class="list-group-item list-group-item-action">Respect confidentiality
                                            requests by speakers and other attendees</li>
                                        <li class="list-group-item list-group-item-action">Look out for one another</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <h3 class="card-h3">These behaviors are not <br> tolerated</h3>
                                <div class="card-body">
                                    <ul class="list-group ">
                                        <li class="list-group-item list-group-item-action">Invasion of privacy,
                                            including taking photos (or requesting selfies) of people who refuses it.
                                        </li>
                                        <li class="list-group-item list-group-item-action">Being disruptive, stalking,
                                            following or threatening anyone.

                                        </li>
                                        <li class="list-group-item list-group-item-action">Homophobia, racism or
                                            behavior that discriminates against a group or class of people.

                                        </li>
                                        <li class="list-group-item list-group-item-action">Sexual harassment of any
                                            kind, including unwelcome sexual attention and inappropriate physical
                                            contact.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="dvfst-logo-container">
                    <h1>Contact us to report an incident</h1>
                </div>
                <div class="item-container">
                    <img src="assets/Hand.svg" class="item-effect" style="bottom: 0%; left: -25%; 
        transform:rotateZ(0deg);height: 100%;width:40%;">
                    <div class="item">
                        <div class="jumbotron bg-white mainJumbotron">
                            <p class="lead">If someone makes you or anyone else feel unsafe or unwelcome, please report
                                it as soon as possible, either to the organizers [DevFest Algiers organizers can be
                                identified by t-shirts/special badges/headsets.] or through <a
                                    href="https://docs.google.com/forms/d/e/1FAIpQLSc7iYxdaGxW2wLdcWyt81pp05V1ji9srMnxi5aGYzYe4S_Crg/viewform?usp=sf_link">this
                                    form</a>. RESPONSE TEAM may take any action they deem appropriate, up to and
                                including
                                expulsion from all GDG Algiers and WTM Algiers spaces or events and identification of
                                that person as a harasser to other GDG Algiers or WTM Algiers members or the general
                                public.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <img src="/assets/Footer.svg" style="width:100%;">
    </footer>
