<section class="section"  >
  
  <label>Contact Us</label>

		<!--contact us form and animation -->
		<div class="containerDiv "   >
      <!-- div height 277px-->
            <div class="paperContainer" >
                <div class="paper paperDiv goDown"   >
                    <div class="paper__input">
                      <p class="input-name">Name</p>
                      <input type="text" >
                    </div>
                    <div class="paper__input">
                      <p class="input-name">Email</p>
                      <input type="text" >
                    </div>
                    <div class="paper__input-textarea">
                      <p class="input-name">Message</p>
                      <textarea type="text" contenteditable="true" ></textarea>
                    </div>
                    <button id="#sendBtn" (click)="toggle()" class="input-button">Send  </button>
            </div>
    </div>
    

    <svg class="envelope envelopeBack"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 420 217.33"><defs><style>.cls-1{fill:#c0392b;}</style></defs><title>inboxmail_back</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M389,0V26.88H31V0L0,26.88V217.33H420V26.88Z"/></g></g></svg>
    
    <svg class=" envelope"   (click)="open()"    version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 420 245.34"><defs><style>.cls-1{fill:#c0392b;}.cls-2{fill:#e74c3c;}</style></defs><title>inboxmail_front</title>
      <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M411.21,236.55l.21.21a29.25,29.25,0,0,1-20.73,8.58H29.31a29.22,29.22,0,0,1-20.94-8.8l162.55-131.3.05-.07,23.66,14.6a29.3,29.3,0,0,0,30.75,0l23.46-14.44.24.4Z"/><path class="cls-2" d="M347.5,44.62,420,0V216a29.24,29.24,0,0,1-8.58,20.73l-.21-.21L249.08,105.74l-.24-.4Z"/><path class="cls-2" d="M72.5,44.41,171,105.17l-.05.07L8.37,236.54A29.19,29.19,0,0,1,0,216V0H.54Z"/></g></g>
      </svg>
        </div>
		<!--end of contact us form and animation-->
    
</section>