.section {
    position: static;
    background-image: url("/assets/continuous-line-envelope-opacity-ised.svg");
    background-repeat: no-repeat;
    background-position: bottom -80% left 90%;
    background-size: 35%;
    height: 80vh;

    padding-top: 5rem;
    padding-left: 4rem; /* to "center" the label and button */

  
}
  
.section label{
    display: block;
    font-size: 96px; /* to-do: make it responsive to zooming-out */
    font-family: ProductSans;
    color: #434344;
    opacity: 0.35;   

}

#contactUsButton{
    margin-top: 110px;
    margin-left: 3rem;
	padding:16px 100px;
}

.GreenButton {
	background-color:#44c767;
	border-radius:40px;
	border:1px solid #18ab29;
	cursor:pointer;
	color:#ffffff;
	font-family: ProductSans;
	font-size: 28px; /* to-do: make it responsive to zooming-out */
    text-shadow:0px 1px 0px #2f6627;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.GreenButton:hover {
	background-color:#5cbf2a;
}

/* basic responsiveness for smaller screens */
@media only screen and (max-width: 680px) {
    .section {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: 0% 100%;
  
      text-align: center !important;
    } 
    .section label{
        font-size: 50px;
    }

}

/* basic responsiveness for x-smaller screens */
@media only screen and (max-width: 480px) {
    .section {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: 0% 100%;
  
      text-align: center !important;
    } 
    .section label{
        font-size: 30px;
    }

}