<section class="section">
  <div id="aboutDiv">
    <div class="whatisDiv">
      <p  class="What-is-">Who is</p>
      
      <img class="gdgLogo" src="/assets/GDG_Algiers_Logo_Dark.svg" />
      
    </div>
    <p class="about" >
      GDG Algiers is a local community located at the National Higher School of Computer Science, Algiers, Algeria.<br> It is part of the big global community of developers "Google Developers Group" (960 communities worldwide)
      <br>Our community is made up of passionate developers and motivated young students. <br>It has started from the simple status of GTUG (Google Technology User Group) in 2011 to become today one of the most active GDGs in the MENA region. 
      <br>GDG Algiers Chapter hosts a variety of technical activities for developers through the different events we organize, aiming to help the developers community get the latest technology updates.
          </p>
  </div>
</section>
