<section class="section">
  <div id="aboutDiv">
    <div class="whatisDiv">
      <p  class="What-is-">What is</p>
      
      <img class="gdgLogo" src="/assets/gdgLogo.png" />
      <p  class="GDG">GDG</p>
      <div class="algiersDiv">
          <img  src="/assets/algiers.png"/>
          <p >Algiers</p>
         
      </div>
    </div>
    <p class="about" >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut metus vel ligula rutrum feugiat. Nullam tempus nec odio quis imperdiet. Etiam eget enim id dolor molestie rutrum. Ut feugiat consequat semper. Donec id varius tortor, in condimentum nisi. Duis ac imperdiet odio. Nunc sit amet faucibus lectus. Donec sapien ipsum, consectetur non dictum quis, placerat ut lacus. Mauris mauris ipsum, pulvinar at est et, molestie feugiat ipsum. Vivamus varius mi lobortis maximus hendrerit. Nulla facilisi. Cras congue, dui eu pulvinar euismod, quam lorem convallis nisl, et volutpat augue elit ac urna. Duis non velit auctor, cursus sem a, tristique ligula. Sed gravida ligula sit amet diam venenatis pretium. Sed a magna vulputate, varius neque et, tristique nibh. Donec commodo tempus arcu, nec pretium lorem luctus et.
    </p>
  </div>
</section>
