

<section >
    <div class="backgroundDiv"></div>
    <p class="title">Upcoming Events</p>
    <div class="desktopVersion">
            <div class="divcontainer hide" >
                    <div class="contentDiv">
                            <div class="detailContainer">
                                <p>Upcomming Event</p>
                                <h5>DevFest 2k19!</h5>
                                <p class="description" style="color: #455a64;">
                                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembl sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                                </p>
                                <button>Continue</button>
                            </div>
                            <img src="assets/header_2.jpg">
                        </div>
                <div class="titleDiv" style="background:#e74c3c;">GDG Algiers RoadShow</div>
            </div>
            <div class="divcontainer hide"  >
                    <div class="contentDiv">
                            <div class="detailContainer">
                                <p>Upcomming Event</p>
                                <h5>DevFest 2k19!</h5>
                                
                                <p class="description" style="color: #455a64;">
                                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembl sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                                </p>
                                <button>Continue</button>
                            </div>
                            <img src="assets/header_2.jpg">
                        </div>
                <div class="titleDiv" style="background-color: #27ae60" >GDG School</div>
            </div>
            <div class="divcontainer show"  >
                <div class="contentDiv">
                    <div class="detailContainer">
                        <p>Upcomming Event</p>
                        <h5>DevFest 2k19!</h5>
                        <p class="description" style="color: #455a64;">
                                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembl sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                        </p>
                        <button>Continue</button>
                    </div>
                    <img src="assets/header_2.jpg">
                </div>
                <div class="titleDiv" style="background-color: #3498db;">Flutter Study Jams</div>
        
            </div>
        </div>
    <div class="container ">     
        <div class="mobileVersion">
        <div class="row flex-row flex-nowrap" id="cards_Container">
            <div class="col-md-4">
                <div class="card-content card">
                    <div class="card-img">
                        <img src="../../../assets/Dev.jpg" alt="">
                    </div>
                    <div class="card-desc text-center">
                        <h2>DevFest 2k19!</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam</p>
                            <a href="#" class="btn btn-outline-light" id="button1">Continue</a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content card">
                    <div class="card-img">
                        <img src="../../../assets/Dev.jpg" alt="">
                    </div>
                    <div class="card-desc text-center">
                        <h2>DevFest 2k19!</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam</p>
                            <a href="#" class="btn btn-outline-light " id="button2">Continue</a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content  card">
                    <div class="card-img">
                        <img src="../../../assets/Dev.jpg" alt="">
                    </div>
                    <div class="card-desc text-center">
                        <h2>DevFest 2k19!</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam</p>
                            <a href="#" class="btn btn-outline-light " id="button3">Continue</a>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>