

<section >
    <div class="backgroundDiv"></div>
    <p class="title">Upcoming Events</p>
    <div class="desktopVersion">
            <div class="divcontainer hide" >
                    <div class="contentDiv">
                            <div class="detailContainer">
                                <p>Upcomming Event</p>
                                <h5>DevFest 2019</h5>
                                <p class="description" style="color: #455a64;">
                                        GDG DevFests are large community-run developer events happening around the globe focused on community building and learning about Google’s technologies.
                                        <br>We organize DevFest 2019 in its 7th edition to offer speaker sessions, cdelabs, workshops and a Hackathon. 
                                                                        </p>
                                <a href="#">Continue</a>
                            </div>
                            <img src="assets/devfest.JPG">
                        </div>
                <div class="titleDiv" style="background:#e74c3c;">DevFest 2019</div>
            </div>
            <div class="divcontainer hide" >
                    <div class="contentDiv">
                            <div class="detailContainer">
                                <p>Upcomming Event</p>
                                <h5>Google I/O extended 2019</h5>
                                <p class="description" style="color: #455a64;">
                                    Focused on bringing the local developer community together to experience Google I/O 2019 different rich sessions, it will connect talented developers giving them the chance to share their skills and acquire new ones through many unique activities targeted to developers on different technologies.
                                </p>
                                <a href="https://www.meetup.com/GDG-Algiers/events/260997481/
                                ">Continue</a>
                            </div>
                            <img src="assets/ioextended.jpg">
                        </div>
                <div class="titleDiv" style="background:#e74c3c;">Google I/O extended 2019</div>
            </div>
            <div class="divcontainer hide"  >
                    <div class="contentDiv">
                            <div class="detailContainer">
                                <p>Upcomming Event</p>
                                <h5>Google Cloud Next ‘19 Extended</h5>
                                
                                <p class="description" style="color: #455a64;">
                                    Next ’19 Extended brings together local developer to take part in the Next ’19 experience. It will allow them to access exciting Next ’19 content and engage with peers across GDG Algiers community through hands-on labs and speaker events.                                </p>
                                <a href="https://www.meetup.com/GDG-Algiers/events/261022004/
                                ">Continue</a>
                            </div>
                            <img src="assets/cloudnext19.jpg">
                        </div>
                <div class="titleDiv" style="background-color: #27ae60" >Google Cloud Next ‘19</div>
            </div>
            <div class="divcontainer show"  >
                <div class="contentDiv">
                    <div class="detailContainer">
                        <p>Upcomming Event</p>
                        <h5>Fast&Hack 2019</h5>
                        <p class="description" style="color: #455a64;">
                            An online hackathon during the holy month, Ramadan. Fast&Hack invites innovators, developers, creators, designers, and hackathon enthusiasts to show their projects to the world, and focuses on being a platform for them to present their ideas ranging from volunteering apps to islamic ones, all under the hood of making good deeds.                        </p>
                        <a href="https://fast-hack-gdgalgiers.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=discover"
                        >Continue</a>
                    </div>
                    <img src="assets/fast&hack.png">
                </div>
                <div class="titleDiv" style="background-color: #3498db;">Fast&Hack 2019</div>
        
            </div>
            
        </div>
    <div class="container ">     
        <div class="mobileVersion">
        <div class="row flex-row flex-nowrap" id="cards_Container">
            <div class="col-md-4">
                <div class="card-content card">
                    <div class="card-img">
                        <img src="assets/fast&hack.png" alt="">
                    </div>
                    <div class="card-desc text-center">
                        <h2>Fast&Hack 2019</h2>
                        <p>An online hackathon during the holy month, Ramadan. Fast&Hack invites innovators, developers, creators, designers, and hackathon enthusiasts to show their projects to the world, and focuses on being a platform for them to present their ideas ranging from volunteering apps to islamic ones, all under the hood of making good deeds.
                                <br><br><br>
                        </p>
                            <a href="https://fast-hack-gdgalgiers.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=discover
                            " class="btn btn-outline-light" id="button1">Continue</a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content card">
                    <div class="card-img">
                        <img src="assets/cloudnext19.jpg" alt="">
                    </div>
                    <div class="card-desc text-center">
                        <h2>Google Cloud Next ‘19 Extended </h2>
                        <p>Next ’19 Extended brings together local developer to take part in the Next ’19 experience. It will allow them to access exciting Next ’19 content and engage with peers across GDG Algiers community through hands-on labs and speaker events.
                        <br><br><br> </p>
                            <a href="https://www.meetup.com/GDG-Algiers/events/261022004/" class="btn btn-outline-light " id="button2">Continue</a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content  card">
                    <div class="card-img">
                        <img src="assets/ioextended.jpg" alt="">
                    </div>
                    <div class="card-desc text-center">
                        <h2>Google I/O extended 2019</h2>
                        <p>Focused on bringing the local developer community together to experience Google I/O 2019 different rich sessions, it will connect talented developers giving them the chance to share their skills and acquire new ones through many unique activities targeted to developers on different technologies.

                        </p>
                            <a href="https://www.meetup.com/GDG-Algiers/events/260997481/
                            " class="btn btn-outline-light " id="button3">Continue</a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="card-content  card">
                        <div class="card-img">
                            <img src="assets/devfest.JPG" alt="">
                        </div>
                        <div class="card-desc text-center">
                            <h2>DevFest 2019</h2>
                            <p>
                                    GDG DevFests are large community-run developer events happening around the globe focused on community building and learning about Google’s technologies.
                                    <br>We organize DevFest 2019 in its 7th edition to offer speaker sessions, cdelabs, workshops and a Hackathon. 
                               <br><br><br>  <br>   
                            </p>
                                <a href="#" class="btn btn-outline-light " id="button3">Continue</a>   
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
</section>