<div class="nav-space" style="height: 200px;"></div>
<div style="overflow-x:hidden">
  <div class="container">
    <!--Intro Section-->
    <section>
      <div class="dvfst-logo-container">
        <img src="/assets/dvfst2019.svg" class="item-effect">
      </div>
      <div class="item-container">
        <img src="/assets/Yellow effect.svg" class="item-effect" style="top: -50%; left: -30%; 
    transform:rotateZ(0deg);height: 100%;width:40%;">
        <img src="/assets/Blue effect.svg" class="item-effect" style="bottom: -20%; right: -30%; 
    transform:rotateZ(140deg); height: 90%;width:40%;">
        <div class="item">
          <div class="card intro   bg-black">
            <div class="myCard-header">
              <img class="card-img-top" src="assets/devfest.JPG" alt="Card image cap">
              <h5 class="card-title title">DevFest 2k19</h5>
            </div>
            <div class="card-body">
              <div>
                <div class="d-flex">
                  <p class="card-text ">Last year’s edition of Devfest was a total hit 💯 It gave a chance to more than
                    300 students, professionals, and managers to learn, compete and have fun all at once with new
                    technologies. And this year’s edition is not aiming for any less than that.</p>
                  <a href="#" class="btn card-btn">Nov 1st 2nd 3rd 2019</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--end Intro Section-->
    <!--Description Section-->
    <section>
      <p class="section-title">Event Description</p>
      <div class="item-container">
        <img src="/assets/Green effect.svg" class="item-effect" style="top: -50%; left: -30%; 
    transform:rotateZ(180deg);height: 120%;width:50%;">
        <img src="/assets/Red effect.svg" class="item-effect" style="bottom: -50%; right: -30%; 
    transform:rotateZ(140deg); height: 120%;width:50%;">

        <div class="item">
          <div class="card full-text   bg-white">
            <p class="padding-30" style="text-align: center;color:#594A42;">
              “GDG DevFests are large community-run developer events hosted by Google Developer Groups for their local
              communities around the world“
              <br><br>
              Over 6 consecutive editions, GDG DevFest Algiers has grown from a small 50-people event to one of the few
              big tech conferences in Algeria. This year, with “Diversity & Inclusion” as a main theme, DevFest 2k19
              sets a goal to widen the developer community in our country by gathering tech enthusiasts of all different
              backgrounds and levels in one place in order for them to learn, share and compete in improving people’s
              daily lives with technology.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!--end Description Section-->

    <!--Gallery Section-->
    <section>
      <p class="section-title">Gallery</p>
      <div class="item-container">
        <img src="/assets/Green effect.svg" class="item-effect" style="top: -40%; left: -50%; 
        transform:rotateZ(-180deg); height: 120%;width:90%;">

        <div class="item">
          <app-gallery></app-gallery>
        </div>
      </div>
    </section>
    <!--end Gallery Section-->
    <!--Location Section-->
    <section>
      <p class="section-title">Location</p>
      <div class="item-container">
        <img src="/assets/Yellow effect.svg" class="item-effect" style="top: -20%; left: -40%; 
          transform:rotateZ(180deg);height: 120%;width:50%;">
        <img src="/assets/Red effect.svg" class="item-effect" style="top: -30%; right: -40%; 
           transform:rotateZ(150deg); height: 120%;width:50%;">
        <img src="/assets/Blue effect.svg" class="item-effect" style="bottom: -40%; right: -30%; 
               transform:rotateZ(140deg); height: 90%;width:40%;">
        <div class="item" style="display: flex;justify-content: center;">
          <div class="card location">
            <div class="myCard-header">
              <img class="card-img-top" src="assets/gallery/esi.png" alt="Card image cap">
            </div>
            <div class="card-body" style="text-align: center">
              <h5 style="text-align: left">Ecole National Superieure d'Informatique(Higher School for
                Computer Science </h5>
              <img src="assets/baseline-place-24px.svg" style="margin: 20px;" />
              <p style="font-weight: unset; color:#707070;text-align:center;">Ecole Nationale Supérieure
                d'Informatique Oued Smar 16309</p>
            </div>
          </div>
          <div class="map-container"
            style="min-height: 100%;width: 100%;margin-left: 20px;border-radius: 15px;overflow: hidden;">
            <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng" style="height: 100%;">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </section>
    <!--end Location Section-->
  </div>
  <!--Workshps Section-->
  <section>
    <p class="section-title">Workshops</p>
    <div class="item-container">
      <img src="/assets/Yellow effect.svg" class="item-effect" style="top: -20%; left: -40%; 
    transform:rotateZ(180deg);height: 120%;width:50%;">
      <img src="/assets/Red effect.svg" class="item-effect" style="top: -30%; right: -40%; 
     transform:rotateZ(150deg); height: 120%;width:50%;">
      <img src="/assets/Blue effect.svg" class="item-effect" style="bottom: -40%; right: -30%; 
         transform:rotateZ(140deg); height: 90%;width:40%;">
      <div class="item">
        <div class=" simpleBar" data-simplebar>
          <div style="width: 1300px;">
            <div class="card little  text-dark bg-white">
              <img class="card-img-top" src="assets/gallery/machine-learning-cybersecurity-applications.png" alt="Card image cap">
              <div class="card-body">
                <p class="title">
                  ML
                </p>
                <p class="descr">
                  Our "Machine Learning StudyJam" will get you to learn all about this topic and getting your first hand
                  experience with the coolest python machine learning libraries.
                </p>
              </div>
            </div>
            <div class="card little  text-dark bg-white">
              <img class="card-img-top" src="assets/gallery/htmlCssJS.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="title">
                  HTML/CSS & JS
                </p>
                <p class="descr">Subscribe on the workshop "Web development made easy " and get amazed of what these
                  technologies can help you accomplish
                </p>
              </div>
            </div>
            <div class="card little  text-dark bg-white">
              <img class="card-img-top" style="height: 200px;width:100%;object-fit: contain;" src="assets/gallery/android-guides.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="title">
                  Android Jetpack
                </p>
                <p class="descr">Join us in this workshop about the latest releases of the jetpack libraries and learn how 
                  to write clean code and avoid biolerplate code  😍
                </p>
              </div>
            </div>
            <div class="card little  text-dark bg-white">
              <img class="card-img-top" src="assets/gallery/uiux.png" alt="Card image cap">
              <div class="card-body">
                <p class="title">
                  UI/UX
                </p>
                <p class="descr">Design and prototype are one of the secrets for a successful app!
                  Want to Prototype a website or a mobile app? Shall we sketch some ideas?💁‍♂️
                  Come join us on "From an idea to a prototype" workshop 😍 and let's take our design skills further 😉
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end Workshops Section-->
  <!--Conferences Section-->
  <section>
    <p class="section-title">Conferences</p>
    <div class="item-container">
      <img src="/assets/Green effect.svg" class="item-effect" style="top: -60%; left: -30%; 
      transform:rotateZ(180deg);height: 120%;width:40%;">
      <img src="/assets/Red effect.svg" class="item-effect" style="bottom: -60%; right: -20%; 
  transform:rotateZ(150deg); height: 100%;width:30%;z-index: 0;">
      <div class="item">
        <div class="simpleBar " data-simplebar>

          <div style="width: 1300px;">
            <div class="card little  text-dark bg-white">
              <img class="card-img-top" src="assets/gallery/machine-learning-cybersecurity-applications.png"
                alt="Card image cap">
              <div class="card-body">
                <p class="title">
                  Machine learning
                </p>
                <p class="descr">We live in a ML-full World 😍
                  Have you ever wondered whether it was possible to deploy your ML model on mobile devices ?!
                  And if it were possible, will you deploy it locally or on the cloud ?🤔</p>
              </div>
            </div>
            <div class="card little  text-dark bg-white">
              <img class="card-img-top" src="assets/gallery/google-flutter-logo-white.png" style="
              height: 200px;
              width: 100%;
              object-fit: contain;" alt="Card image cap">
              <div class="card-body">
                <p class="title">
                  Flutter
                </p>
                <p class="descr">Cross platform apps with a native performance 🚀 for all your mobile devices 😎
                  "Flutter", Google's way to build beautiful mobile apps 🤩 in a record time ! </p>
              </div>
            </div>
            <div class="card little  text-dark bg-white">
              <img class="card-img-top" style="
              height: 200px;
              width: 100%;
              object-fit: contain;" src="assets/gallery/q-logo.png" alt="Card image cap">
              <div class="card-body">
                <p class="title">
                  Android Q
                </p>
                <p class="descr">Android continues to move forward! 🏃‍♂️
                  Want to see how your phone got smarter ?
                  Join us to learn about the latest version 😍"Android Q" 🎂 to discover how you can
                  enjoy your new mobile experience 😉
                </p>
              </div>
            </div>
            <div class="card little  text-dark bg-white">
              <img class="card-img-top" src="assets/gallery/android-guides.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="title">
                  Android Jetpack
                </p>
                <p class="descr">Jetpack is a suite of libraries, tools, and guidance to help developers write
                  high-quality apps easier. These components help you follow best practices, free you from writing
                  boilerplate code.😃</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end Conferences Section-->
  <div class="black">
    <div class="container">
      <!--Hackathon Section-->
      <section class="hackathon-section">
        <p class="section-title " style="z-index: 1;">Hackathon</p>
        <div class="item-container">
          <img src="/assets/Yellow effect.svg" class="item-effect" style="top: -60%; left: -40%; 
      transform:rotateZ(180deg);height: 120%;width:50%;z-index: 0;">
          <img src="/assets/Blue effect.svg" class="item-effect" style="bottom: -30%; right: -40%; 
      transform:rotateZ(-50deg); height: 120%;width:50%;z-index: 0;">
          <div class="item" style="z-index: 1">
            <div class="card full-text  bg-white ">
              <p class="padding-30">
                DevFest’s Hackathon main goal is to improve the community by attempting to solve several problems
                related to a specific theme.
                After getting well exposed and aware of Diversity & Inclusion (D&I) related problems, participants will
                get the chance to work in teams under mentorship of experienced coaches in a really competitive
                atmosphere in order to brainstorm innovant solutions together and invest in their multiple technical
                expertise in implementing the innovant solution they have come up with.
              </p>
            </div>

          </div>
          <div class="item" style="z-index: 1">
            <app-gallery></app-gallery>

          </div>
        </div>
      </section>
      <!--end Hackathon Section-->
    </div>
  </div>
  <div class="black">
    <!--Mentors Section-->
    <section class="mentors-section">
      <p class="section-title">Mentors</p>
      <div class="item-container">
        <img src="/assets/Yellow effect.svg" class="item-effect" style="top: -40%; left: -40%;
       transform:rotateZ(-190deg); height: 140%;width:60%;z-index: 0;">
        <img src="/assets/Blue effect.svg" class="item-effect" style="bottom: -70%; right: -45%; 
        transform:rotateZ(-40deg); height: 110%;width:80%;z-index: 0;">
        <div class="item">
          <div class="simpleBar little-cards-container">
            <div style="width: 970px;">
              <div class="card little  text-dark bg-white">
                <img class="card-img-top" src="assets/gallery/azzadine.jpeg" alt="Card image cap">
                <div class="card-body">
                  <p class="title">
                    Azzeddine CHENINE
                  </p>
                  <p class="organization">Android Mentor</p>
                </div>
              </div>
              <div class="card little  text-dark bg-white">
                <img class="card-img-top" src="assets/gallery/djamel.jpeg" alt="Card image cap">
                <div class="card-body">
                  <p class="title">
                    Djamaleddine BELILET
                  </p>
                  <p class="organization">Node Js & React Mentor</p>
                </div>
              </div>
              <div class="card little  text-dark bg-white">
                <img class="card-img-top" src="assets/gallery/hadjer.jpeg" alt="Card image cap">
                <div class="card-body">
                  <p class="title">
                    Hadjer BENMEZIANE
                  </p>
                  <p class="organization">Machine learning Mentor</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--end Mentors Section-->
  </div>
  <div class="black">
    <div class="container">
      <!--Winners Section-->
      <section style="display: none;">
        <p class="section-title">Winners</p>
        <div class="item-container">
          <img src="/assets/Green effect.svg" class="item-effect" style="top: -40%; left: -50%; 
            transform:rotateZ(-180deg); height: 120%;width:90%;z-index: 0;">

          <div class="item" style="display: flex;justify-content:center;padding: 5%;">
            <div class=" card" style="display: flex;
                flex-direction: row;
                flex-wrap: wrap; ">
              <img class="" src="assets/gallery/winners.JPG" style="flex-grow: 2; width: 30%; max-width: 100%;
  min-width: 250px;    max-height: 100%; z-index: 1; " alt />
              <div class="full-text" style="flex-grow: 4;flex-basis: 300px; z-index: 1;     max-height: 100%;">
                <p class="padding-30">Velit est duis duis qui fugiat aliqua proident ea aute eu
                  ipsum
                  occaecat esse Lorem.Velit est duis duis qui fugiat qui fugiat aliqua proident ea
                  aute eu ipsum
                  occaecat esse Lorem.Velit est duis duis qui</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--end Winners Section-->
    </div>
  </div>
  <!--CFP Section-->
  <section>
    <p class="section-title space-top-50">Call For Papers</p>
    <div class="item-container container">
      <img src="/assets/Green effect.svg" class="item-effect" style="top: -50%; left: -35%; 
transform:rotateZ(180deg);height: 120%;width:50%;z-index: 0;">
      <img src="/assets/Red effect.svg" class="item-effect" style="bottom: -50%; right: -30%; 
transform:rotateZ(140deg); height: 120%;width:50%;">

      <div class="item">
        <div class="card full-text   bg-white">
          <p class="padding-30">
            <b>Got an expertise? </b>
            an engaging experience with a certain tech?
            or maybe an inspiring story that you wanna share to an amazing audience?<br>
            <b>Good news!</b>
            Now you can easily apply to speak in DevFest’19, And let an amazing audience hear you 😀
            So what are you waiting for?
            <a style="font-weight: normal; padding: 3px; cursor: pointer;"
            (click)="goToLink('https://drive.google.com/file/d/1yHIYckCzvQmfTywBwD6x-Zhdm9Lp_wN3/view')">apply here!!</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--end CFP Section-->
  <!--Sponsors Section-->
  <section class="sponsors-section">
    <p class="section-title" style="z-index: 1">Partners & Sponosrs</p>
    <p class="section-title without-underline" style="z-index: 1">Sponsored us</p>
    <div class="item-container">
      <img src="/assets/Yellow effect.svg" class="item-effect" style="top: -60%; left: -30%; 
          transform:rotateZ(170deg);height: 120%;width:50%;">
      <img src="/assets/Red effect.svg" class="item-effect" style="top: -125%; right: -30%; 
          transform:rotateZ(155deg);height: 140%;width:60%;z-index: 0; display: none">
      <div class="item">
        <div class="simpleBar little-cards-container">
          <div style="width: 670px;">
            <img class="sponsor-logo card little" src="../../assets/condor.png">
            <img class="sponsor-logo card little" src="../../assets/condor.png">
          </div>
        </div>
        <div class="rounded-square">
          <p style="cursor: pointer;" (click)="goToLink('https://drive.google.com/file/d/1yHIYckCzvQmfTywBwD6x-Zhdm9Lp_wN3/view')" >Sponsor us ?</p>
        </div>
      </div>
    </div>
  </section>
  <!--end Sponsors Section-->
</div>

<!--footer-->
<footer class="footer">
  <div class="footer-logo" style="font-family: ProductSans">
    <img src="/assets/GDGA_Color.svg" alt="">
  </div>
  <div class="footer-copy">GDG Algiers &copy; 2019</div>
</footer>
<!--end footer-->
