.footer{
    height: 15vw;
    width: 100vw;
    background-color: #F44336;
    position: relative;
    display: flex;
    align-items: center;
    color: #e9e9e9;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    font-family: ProductSans;
}
.footer::before { 
    content: " ";
    position: absolute;

    height: 80%;

    width: 120%;

    top: -20%;

    left: -5%;
    background-color: #f9f9f9;

    border-radius: 50% / 70%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: rotateZ(3deg);
    overflow: hidden;
  
  }

  .footer div {
      margin: 10vw 0 0 0 ;
  }

  .footer .footer-logo {
      height: 35%;
      width: 25%;
      overflow: hidden;
  }

  .footer .footer-logo img{
      height: 2.4vw;
    }



  .footer .footer-copy{
    flex-grow: 1;
  }


  .footer .footer-social{
      width: 25vw;
  }

  .footer .footer-social p{
    margin-bottom: 0;
}

  .footer .footer-social a {
    display: inline-block;
    width: 2.5vw;
    height: 2.5vw;;
    background-size: 2.5vw;
    margin: 1vw;
    transition: all 0.3s;
  }
  .footer .footer-social a:hover{transform: rotate(20deg);}
  .footer .footer-social .facebook{background-image: url("/assets/facebook.svg");}
  .footer .footer-social .twitter{background-image: url("/assets/twitter.svg");}
  .footer .footer-social .instagram{background-image: url("/assets/instagram.svg");}


  .footer{
    font-size:1.3vw;
    }

  @media only screen and (max-width: 1024px) {
    .footer{
        font-size:1.5vw;
        }
  }  
  @media only screen and (max-width: 460px) {
    .footer{
        font-size:2.7vw;
        }
  }  