<div class="menudiv">
<ul>
  <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}" >Home</a></li>
  <li><a [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">Events</a></li>
  <li><a [routerLink]="['/projects']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}" >Projects</a></li>
  <li><a [routerLink]="['/gdglife']" >GDG Life</a></li>
  <li><a [routerLink]="['/team']"  >Team</a></li>
</ul>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
