<img src="/assets/red_effect_1.svg" class="item-effect head-effect-mob">
<img src="/assets/red_effect.svg" class="item-effect head-effect">

<div class="space" ></div>
<div style="text-align: center;">
  <p class="pageTitle">
     Events
    </p>
</div>


<div class="flex-container">
  <div class="item-container first">
      <img src="/assets/Green effect.svg" class="item-effect"
      style="top: -200px; left: -200px; transform:rotateZ(-180deg)" >

      <div class="item">
              <div class="card  text-dark bg-white">
                  <div class="myCard-header">
                  <img class="card-img-top" src="assets/devfest.JPG" alt="Card image cap">
                  <h5 class="card-title title" >DevFest 2k19</h5>
                </div>
                  <div class="card-body">
                      <div >
                          <div class="d-flex">
                              <p class="card-text ">Velit est duis duis qui fugiat aliqua proident ea aute eu ipsum
                                  occaecat esse Lorem.Velit est duis duis qui fugiat</p>
                                  <a [routerLink]="['/events/devfest2k19']" class="btn card-btn">Nov 1st 2019</a>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
  </div>
  <div class="item-container top-space">
      <img src="/assets/Blue effect.svg" class="item-effect"
      style="top: -90px; right: -250px; transform:rotateZ(140deg)" >
      <div class="item">
        <div class="card  text-dark bg-white">
            <div class="myCard-header">
            <img class="card-img-top" src="assets/devfest.JPG" alt="Card image cap">
            <h5 class="card-title title" >DevFest 2k19</h5>
          </div>
            <div class="card-body">
                <div >
                    <div class="d-flex">
                        <p class="card-text ">Velit est duis duis qui fugiat aliqua proident ea aute eu ipsum
                            occaecat esse Lorem.Velit est duis duis qui fugiat</p>
                            <a  class="btn card-btn">Nov 1st 2019</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="item-container" >
      <div class="item"></div>
  </div>
</div>
<app-red-footer></app-red-footer>
