<section>
  <div class="mapContainer">
    <p class="title">Our Location</p>
  <!--<agm-map [latitude]="lat" [longitude]="lng">-->
    <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
  <!--</agm-map>-->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12795.021518625856!2d3.1639106432893174!3d36.70441574077878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128e522f3f317461%3A0x215c157a5406653c!2sEcole+Nationale+Sup%C3%A9rieure+d&#39;Informatique!5e0!3m2!1sfr!2sdz!4v1550834572434" frameborder="0" style="border:0" allowfullscreen></iframe>
  <div class="mapCard">
    <img src="/assets/header_3.jpg">
    <div class="esiAdress">
        <img src="/assets/marker.svg"/>
        <p>Ecole Nationale Supérieure d&apos;Informatique (ESI
            ex.INI), Alger Oued Smar,، 16309، Oued Smar 16309</p>
        <div class="clearfix"></div>
        <div class="circle">
          <img src="/assets/turn-right-sign.svg"/>
        </div>
    </div>
  </div>
</div>
  </section>
