section{
  position: relative;
}

.transition {
  transition: all .4s ease-in-out;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .4;
  z-index: 6;
}

.gdg_logo{
  width: 160px;
  height: 0px;
  position: absolute;
  top: 25px;
  left: 35px;
  z-index: 9;
}
.gdg_logo>img{
  width: 50px;
  height: 70px;
  float: left;
}
.gdg_logo p{
  color: #fff;
  font-size: 27px;
  font-weight: bold;
  margin-top: 18px;
  width: 43%;
  float: left;
  font-family: ProductSans;
}
.algiers_logo{
  width: 25%;
  float: left;
  display: inline-block;
  height: 70px;
}
.algiers_logo>img{
  width: 100%;
  height: 70%;
  margin-left: 7px;
}
.algiers_logo>span{
  color: white;
  font-size: 12px;
  margin-left: 5px;
  margin-top: -3px;
  display: inherit;
}

.carousel .content {
  display: flex;
}

.carousel .content .item {
  width: 100%;
  display: block;
}

.carousel .content .item .img {
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center;
  height: 0;
  padding-bottom: 50%;
}


.item {
  width: 100%;
  display: block;
}

.item .img {
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center;
  height: 0;
  padding-bottom: 50%;
}

.ball {
  width: 35px;
  height: 0px;
  border-radius: 15px;
  background: black;
  border: 2px solid;
  opacity: 0.5;
  z-index: 99;
  color: #fff;
}
.ball.visible {
   opacity: 1;
  z-index: 99;
  color: #fff;
}

:host /deep/ .indicators {
  z-index: 99;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: #3498db;
  z-index: 9;
}

.click-area {
  width: 50px;
  text-align: center;
}

.click-area i {
  font-size: 3em;
}

.header-titles{
  position: absolute;
  bottom: 10%;
  left: 30px;
  color: #fff;
  z-index: 8;
  font-family: ProductSans;
}
.header-titles .title{
  font-size: 4vw;
  font-weight: bold;
  margin: 0;
}
.header-titles .sub-title{
  font-size: 2vw;
  margin: 0;
}

@media (max-width: 768px) {
  .header-titles{
    bottom: 20%;
  }
}
