section{
  position: relative;
}

.transition {
  transition: all .4s ease-in-out;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  z-index: 6;
}

.gdg_logo{
  width: 148px;
  height: 68px;
  position: absolute;
  top: 0px;
  left: 30px;
  color: black;
  z-index: 9;
}

.carousel .content {
  display: flex;
}

.carousel .content .item {
  width: 100%;
  display: block;
}

.carousel .content .item .img {
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center;
  height: 0;
  padding-bottom: 50%;
}


.item {
  width: 100%;
  display: block;
}

.item .img {
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center;
  height: 0;
  padding-bottom: 50%;
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  border: 2px solid;
  opacity: 0.5;
  z-index: 99;
}
.ball.visible {
   opacity: 1;
  z-index: 99;
}

:host /deep/ .indicators {
  z-index: 99;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: #ff5252;
  z-index: 9;
}

.click-area {
  width: 50px;
  text-align: center;
}

.click-area i {
  font-size: 3em;
}

