<div>
  <tabset class="customClass">
    <tab heading="Confrences & Workshops" id="tab1">
      <tabset class="subClass">
        <tab heading="Thursday, 24/10/2019" id="Dtab2" disabled="true"></tab>

        <tab heading="Friday, 25/10/2019" id="Dtab1" active="true">
          <div class="itemCard longItem">
            <div class="itemBorder greenItem"></div>
            <div>
              <span>08:30 am - 09:30 am</span>
              <h3>Registrations & WTM Breakfast</h3>
            </div>
          </div>
          <div class="itemCard longItem">
            <div class="itemBorder yellowItem"></div>
            <div>
              <span>09:30 am - 10:00 am</span>
              <h3>Keynote</h3>
              <span>By Smail KOURTA, Abir HAMMACHE and Asmaa HAIDOUR</span>
            </div>
          </div>
          <div class="itemCard longItem">
            <div class="itemBorder yellowItem"></div>
            <div>
              <span>10:00 am - 10:30 am</span>
              <h3>Inclusion & diversity</h3>
              <span>By Abir HAMMACHE</span>
            </div>
          </div>
          <div class="itemCard longItem">
            <div class="itemBorder greenItem"></div>
            <div>
              <span>10:30 am - 11:00 am</span>
              <h3>Tea break</h3>
            </div>
          </div>
          <div class="itemCard shortItem first">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>11:00 am - 12:00 pm</span>
              <h3>Docker 101</h3>
              <span>By Ayoub BENAISSA</span>
            </div>
          </div>
          <div class="itemCard shortItem">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>11:00 am - 12:00 pm</span>
              <h3>Learn OOP with video games</h3>
              <span>By Anis ROUANE</span>
            </div>
          </div>

          <div class="itemCard shortItem">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>11:00 am - 12:00 pm</span>
              <h3>AMP</h3>
              <span>By Elbatoul MAZIGHI</span>
            </div>
          </div>

          <div class="itemCard shortItem">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>11:00 am - 12:00 pm</span>
              <h3>Big data with scala and spark</h3>
              <span>By Haroun MOHAMMEDI</span>
            </div>
          </div>
          <div class="itemCard shortItem">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>11:00 am - 12:00 pm</span>
              <h3>ML Study Jam</h3>
              <span>By Hadjer BENMEZIANE & Amine ATHMANI</span>
            </div>
          </div>
          <div class="itemCard shortItem">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>11:00 am - 12:00 pm</span>
              <h3>Flutter Essentials</h3>
              <span>By Djameleddine BELLILET</span>
            </div>
          </div>


          <div class="itemCard shortItem">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>11:00 am - 12:00 pm</span>
              <h3>Firebase</h3>
              <span>By Abir HAMMACHE</span>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem "></div>
            <div>
              <span>12:00 pm - 01:00 pm</span>
              <h3>Lunch break</h3>
            </div>
          </div>
          <div class="itemCard longItem">
            <div class="itemBorder greenItem "></div>
            <div>
              <span>01:00 pm - 02:00 pm</span>
              <h3>Prayer</h3>
            </div>
          </div>

          <div class="itemCard shortItem first">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>02:00 pm - 05:00 pm</span>
              <h3>Docker 101</h3>
              <span>By Ayoub BENAISSA</span>
            </div>
          </div>
          <div class="itemCard shortItem">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>02:00 pm - 05:00 pm</span>
              <h3>Learn OOP with video games</h3>
              <span>By Anis ROUANE</span>
            </div>
          </div>

          <div class="itemCard shortItem">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>02:00 pm - 05:00 pm</span>
              <h3>AMP</h3>
              <span>By Elbatoul MAZIGHI</span>
            </div>
          </div>

          <div class="itemCard shortItem">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>02:00 pm - 05:00 pm</span>
              <h3>Big data with scala and spark</h3>
              <span>By Haroun MOHAMMEDI</span>
            </div>
          </div>
          <div class="itemCard shortItem">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>02:00 pm - 05:00 pm</span>
              <h3>ML Study Jam</h3>
              <span>By Hadjer BENMEZIANE & Amine ATHMANI</span>
            </div>
          </div>
          <div class="itemCard shortItem">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>02:00 pm - 05:00 pm</span>
              <h3>Flutter Essentials</h3>
              <span>By Djameleddine BELLILET</span>
            </div>
          </div>

          <div class="itemCard shortItem">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>02:00 pm - 05:00 pm</span>
              <h3>Firebase</h3>
              <span>By  Abir HAMMACHE</span>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem "></div>
            <div>
              <span>05:00 pm - 05:15 pm</span>
              <h3>Closing Ceremony</h3>
            </div>
          </div>
        </tab>

        <tab heading="Saturday, 26/10/2019">
          <div class="itemCard longItem">
            <div class="itemBorder greenItem"></div>
            <div>
              <span>08:30 am - 09:30 am</span>
              <h3>Registration & WTM Breakfast</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem"></div>
            <div>
              <span>09:30 am - 09:45 am</span>
              <h3>Opening Ceremony</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder yellowItem"></div>
            <div>
              <span>09:45 am - 10:10 am</span>
              <h3>From code to prod with CI/CD pipelines</h3>
              <span>By Ilyes HOUDJEJE</span>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder yellowItem"></div>
            <div>
              <span>10:10 am - 10:40 am</span>
              <h3>Why React hooks</h3>
              <span>By Islem MABOUD</span>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem "></div>
            <div>
              <span>10:40 am - 11:00 am</span>
              <h3>Tea break</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder yellowItem "></div>
            <div>
              <span>11:00 am - 11:20 am</span>
              <h3>ML Pipeline : From Research to Production</h3>
              <span>By Hadjer BENMEZIANE</span>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder yellowItem "></div>
            <div>
              <span>11:20 am - 11:50 am</span>
              <h3>Data quality is more important than you think</h3>
              <span>By Amine BENDAHMANE</span>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem "></div>
            <div>
              <span>12:00 pm - 01:00 pm</span>
              <h3>Lunch Break</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder yellowItem "></div>
            <div>
              <span>01:20 pm - 01:40 pm</span>
              <h3>How to write modular android code with Architecture Components</h3>
              <span>By Yacine BENKAIDALI</span>
            </div>
          </div>


          <div class="itemCard longItem">
            <div class="itemBorder redItem "></div>
            <div>
              <span>01:45 pm - 03:00 pm</span>
              <h3>Hackathon Finals</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder redItem "></div>
            <div>
              <span>03:00 pm - 03:30 pm</span>
              <h3>Judges Deliberation</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem "></div>
            <div>
              <span>03:30 pm - 04:30 pm</span>
              <h3>Closing Ceremony</h3>
            </div>
          </div>
        </tab>
      </tabset>
    </tab>
    <tab heading="Hackathon">
      <tabset class="subClass">
        <tab heading="Thursday, 24/10/2019">

          <div class="itemCard longItem">
            <div class="itemBorder greenItem"></div>
            <div>
              <span>05:00 pm - 06:00 pm</span>
              <h3>Registrations</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem"></div>
            <div>
              <span>06:00 pm - 06:15 pm</span>
              <h3>Opening Ceremony</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder yellowItem"></div>
            <div>
              <span>06:15 pm - 06:35 pm</span>
              <h3>Inclusion & diversity</h3>
              <span>By Karen ROSE</span>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder yellowItem"></div>
            <div>
              <span>06:35 pm - 07:00 pm</span>
              <h3>Human Biases</h3>
              <span>By Abir HAMMACHE</span>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder blueItem"></div>
            <div>
              <span>07:00 pm - 07:30 pm</span>
              <h3>Team Formation</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem"></div>
            <div>
              <span>07:30 pm - 08:00 pm</span>
              <h3>Ice Breaker</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem"></div>
            <div>
              <span>08:00 pm - 09:00 pm</span>
              <h3>Dinner</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder redItem"></div>
            <div>
              <span>09:00 pm - </span>
              <h3>Hacking</h3>
            </div>
          </div>

        </tab>

        <tab heading="Friday, 25/10/2019">
          <div class="itemCard longItem">
            <div class="itemBorder greenItem"></div>
            <div>
              <span>08:30 am - 09:30 am</span>
              <h3>Registration & WTM Breakfast</h3>
            </div>
          </div>
          <div class="itemCard longItem">
            <div class="itemBorder redItem"></div>
            <div>
              <span>09:30 am - 12:00 pm</span>
              <h3>Hacking</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem "></div>
            <div>
              <span>12:00 pm - 01:00 pm</span>
              <h3>Lunch break</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem "></div>
            <div>
              <span>01:00 pm - 02:00 pm</span>
              <h3>Prayer</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder redItem "></div>
            <div>
              <span>02:00 pm - 08:00 pm</span>
              <h3>Hacking</h3>
            </div>
          </div>


          <div class="itemCard longItem">
            <div class="itemBorder greenItem"></div>
            <div>
              <span>08:00 am - 09:00 pm</span>
              <h3>Dinner</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder redItem "></div>
            <div>
              <span>09:00 pm - </span>
              <h3>Hacking</h3>
            </div>
          </div>
        </tab>

        <tab heading="Saturday, 26/10/2019">
          <div class="itemCard longItem">
            <div class="itemBorder greenItem"></div>
            <div>
              <span>08:00 am - 09:30 am</span>
              <h3>WTM Breakfast</h3>
            </div>
          </div>
          <div class="itemCard longItem">
            <div class="itemBorder redItem"></div>
            <div>
              <span>09:30 am - 10:00 am</span>
              <h3>Hacking</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem "></div>
            <div>
              <span>10:00 am - 10:30 am</span>
              <h3>Tea break</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder redItem "></div>
            <div>
              <span>10:30 am - 12:00 pm</span>
              <h3>First Round's Selection</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem "></div>
            <div>
              <span>12:00 pm - 01:00 pm</span>
              <h3>Lunch Break</h3>
            </div>
          </div>


          <div class="itemCard longItem">
            <div class="itemBorder redItem "></div>
            <div>
              <span>01:30 pm - 03:00 pm</span>
              <h3>Finals</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder redItem "></div>
            <div>
              <span>03:00 pm - 03:30 pm</span>
              <h3>Judges Deliberation</h3>
            </div>
          </div>

          <div class="itemCard longItem">
            <div class="itemBorder greenItem "></div>
            <div>
              <span>03:30 pm - 04:30 pm</span>
              <h3>Closing Ceremony</h3>
            </div>
          </div>

        </tab>

      </tabset>
    </tab>
  </tabset>
</div>
