::ng-deep .customClass>ul,
::ng-deep .subClass>ul {
  margin-bottom: 16px;
  border-bottom: none;
}

::ng-deep .customClass>ul li {
  width: 45%;
  opacity: 0.6;
}

::ng-deep .customClass>ul li:nth-child(2) {
  margin-left: 10%;
}

::ng-deep .customClass>ul li a,
::ng-deep .subClass>ul li a {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 5px !important;
  padding: 1.1vw;
  font-weight: bolder;
  background: white;
}

::ng-deep .subClass>ul li.nav-item {
  width: 30%;
  opacity: 0.6;
}

::ng-deep .customClass>ul li.nav-item:hover,
::ng-deep .subClass>ul li.nav-item:hover {
  opacity: 1;
}

::ng-deep .customClass>ul li.nav-item.active,
::ng-deep .subClass>ul li.nav-item.active {
  opacity: 1 !important;
}

::ng-deep .customClass>ul .nav-link,
::ng-deep .subClass>ul .nav-link {
  color: black;
}

::ng-deep .subClass>ul li:nth-child(2),
::ng-deep .subClass>ul li:nth-child(3) {
  margin-left: 5%;
}

.itemCard {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 6px;
  padding-bottom: 6px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 5px !important;
  background: white;
  margin-bottom: 2%;
  margin-left: 2%;
  text-align: left;
}

.itemCard * {
  margin-left: 8px;
  padding-right: 8px;
}

div.itemCard span {
  color: #b0bec5;
}

div.itemBorder {
  border-radius: 15px;
}

div.blueItem {
  background:  blue;
}

div.redItem {
  background:  red;
}

div.yellowItem {
  background:  #ffc107;
}

div.greenItem {
  background:  #28a745;
}

.longItem {
  display: flex;
  margin-left: 0;
}

.shortItem{
  min-width: 23%;
}

.first{
  margin-left: 0%;
}