<section class="section">
  <label>Our Partners</label>

  <div id = "PartnersDiv">
    <div class="partnerDiv">
      <a href="https://www.google.com" title="Google"><img src="/assets/Google_2015_logo.svg" alt="Google"/>
      </a>
    </div>
      <div class="partnerDiv">
          <a href="https://www.jetbrains.com/" title="Jetbrains"><img src="/assets/jetbrains.svg" alt="Jetbrains"/>
          </a>
        </div>
    <!-- other sponsor divs shall be generated here -->
  </div>
  
  <div id="buttonsDiv">
      <button class="GreenButton">Become a partner</button>
  </div>
  <label style="margin-top:30px;">Our Sponsors</label>

  <div id = "PartnersDiv">
    
    <div class="partnerDiv">
        <a href="https://education.github.com/" title="GitHub Education"><img src="/assets/GitHubEducation.svg" 
          style="height: 30px;" alt="GitHub Education"/>
        </a>
    </div>
      
    <!-- other sponsor divs shall be generated here -->
  </div>
  
  <div id="buttonsDiv">
      <button class="GreenButton">Become a sponsor</button>
  </div>
</section>