<section class="testimonials">
  <div class="left-effect effect"></div>
  <div class="testimonials-content">
    <img src="../../../assets/quotation_g.svg" alt="quotation">
    <h3>Testimonials</h3>
    <div class="testimonials-articles">
      <article>
        <img src="../../../assets/GDR-retro.jpg" alt="testimonial">
        <div>
          <i class="fas fa-quote-left"></i>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
          <i class="fas fa-quote-right"></i>
          <p class="author"><span>John DOE</span>GDE Product Design</p>
        </div>
      </article>
      <article>
        <img src="../../../assets/GDR-retro.jpg" alt="testimonial">
        <div>
          <i class="fas fa-quote-left"></i>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
          <i class="fas fa-quote-right"></i>
          <p class="author"><span>John DOE</span>GDE Product Design</p>
        </div>
      </article>
    </div>
  </div>
  <div class="right-effect effect"></div>
</section>
