<section class="testimonials">
  <div class="left-effect effect"></div>
  <div class="testimonials-content">
    <h3>Testimonials</h3>
    <div class="testimonials-articles">
      <article>
        <div class="image" style="background-image: url('../../../assets/guendoz.jpg'); background-size: 97%;">
        </div>
        <div>
          <i class="fas fa-quote-left"></i>
          <p>GDG Algiers is a wonderful team, their hard work before and during GDR Algiers in October 2017 made this event a real success. It was two full days of fun. I really liked the atmosphere and their organization during the event. I'm looking forward to speaking at their future events</p>
          <i class="fas fa-quote-right"></i>
          <p class="author"><span>Mohamed Guendouz</span>GDE Android</p>
        </div>
      </article>
      <article style="display:none">
        <div class="image" style="background-image: url('../../../assets/GDR-retro.jpg')">
        </div>
        <div>
          <i class="fas fa-quote-left"></i>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
          <i class="fas fa-quote-right"></i>
          <p class="author"><span>John DOE</span>GDE Product Design</p>
        </div>
      </article>
    </div>
  </div>
  <div class="right-effect effect"></div>
  <div class="last-effect effect"></div>

</section>

