<section class="testimonials">
  <div class="text-center">
    <h1>Hello world</h1>
  </div>
  <div class="left-effect effect"></div>
  <div class="testimonials-content">
    <h3>Testimonials</h3>
    <div class="testimonials-articles">
      <article>
        <div class="image" style="background-image: url('../../../assets/GDR-retro.jpg')">
        </div>
        <div>
          <i class="fas fa-quote-left"></i>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
          <i class="fas fa-quote-right"></i>
          <p class="author"><span>John DOE</span>GDE Product Design</p>
        </div>
      </article>
      <article>
        <div class="image" style="background-image: url('../../../assets/GDR-retro.jpg')">
        </div>
        <div>
          <i class="fas fa-quote-left"></i>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
          <i class="fas fa-quote-right"></i>
          <p class="author"><span>John DOE</span>GDE Product Design</p>
        </div>
      </article>
    </div>
  </div>
  <div class="right-effect effect"></div>
  <div class="last-effect effect"></div>

</section>
