.testimonials{
  position: relative;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;

  background-image: url('../../../assets/quotation_g.svg');
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: 5% 25%;
  scrollbar-width: none;
  padding-top: 70px;
  overflow: hidden;


}

.testimonials .effect{
  position: absolute;
  z-index: 9;
}

.testimonials .left-effect{
  border-radius: 81px ;
  background-color: yellow;
  width: 290px;
  height: 132px;
  transform: rotate(-56deg);
  left: -160px;
  top: 34%;
}

.testimonials .right-effect{
  border-radius: 81px ;
  background-color: #0be881;
  width: 290px;
  height: 132px;
  transform: rotate(-56deg);
  right: -160px;
  bottom: 18%;
}

.testimonials .last-effect{
  border-radius: 81px 81px 81px 81px;
  background-color: #448aff;
  width: 257px;
  height: 152px;
  transform: rotate(56deg);
  left: -120px;
  bottom: 12%;
  display: none;
}

.testimonials-content{
  width: 100%;
  height: 100%;

}
.testimonials-content>img{
  position: absolute;
  left: 2%;
  width: 530px;
  z-index: -1;
}
.testimonials-content h3{
  color: #d4d1d1;
  font-size: 7vw ;
  text-align: right;
  padding-right: 30px;
  font-family: 'ProductSans';
}

.testimonials-articles{
  width: 90%;
  background: #fff;
  border-radius: 10px;
  margin-top: 18px;
  left: 5%;
  top: 160px;
  margin-left: auto;
margin-right: auto;
  
}

.testimonials-articles article{
  width: 100%;
  display: inline-block;
  text-align: left;
  padding: 15px;
  height: 100%;
  min-width: 280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

}
.testimonials-articles article .image{
  width: 200px;
  margin: 20px 0 20px 20px;
  border-radius: 10px;
  float: left;
  height: 180px;
  position: relative;
  overflow: hidden;
  background-position: center;
}
.testimonials-articles article .image>img{
  position: absolute;
  bottom: 0;
  left: 0;
}

.testimonials-articles article>div:last-of-type{
  float: right;
  width:70%;
  margin-top: 20px;
  font-family: ProductSans;
  padding: 10px;
  min-width: 250px;
}

.testimonials-articles article>div p:first-of-type{
  display: inline-block;
  margin: 0;
  font-weight: bold;
  color: #0be881;
  padding: 5px;
}
.testimonials-articles article>div i:first-child{
  float: left;
}
.testimonials-articles article>div .fa-quote-right{
  float: right;
}
.testimonials-articles article>div .author{
  color: red;
  clear: both;
}
.testimonials-articles article>div p:last-of-type{
  color: red;
  clear: both;
  margin-top: 10px;
  font-weight: bold;
  font-size: 13px;
}
.testimonials-articles article>div .author>span{
  color: #fff;
  background: red;
  padding: 3px;
  border-radius: 5px;
  margin-right: 2px;
}



@media (max-width: 769px) {
  .testimonials{
    height: 800px;
    background-image: url('../../../assets/quotation_g.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 0% 5%;
  }
  .testimonials .right-effect{
    
    right: -160px;
    bottom: 5%;
  }
  .testimonials .last-effect{
    display: block;
    bottom: 10%;
    left: -60%;
  }
  .testimonials-content h3{
    font-size: 9vw;
    z-index: 10;
  }
  .testimonials-content>img{
    position: absolute;
    left: -15%;
    width: 550px;
    z-index: -1;
    top: 17%;
  }
  .testimonials-articles{
    text-align: center;
    background: none;
  }
  .testimonials-articles article{
    width: 90%;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  .testimonials-articles article>div p:first-of-type{
    font-size: 4vw;
  }
}

@media (max-width: 455px) {
  .testimonials{
    height: 750px;
    background-image: url('../../../assets/quotation_g.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 20%;
  }
  .testimonials-content h3{
    font-size: 9vw;
    margin: 0;
  }
  .testimonials .left-effect{
    border-radius: 70px;
   height: 110px;
   width: 400px;
    left: -290px;
    top: 35%;
  }
  
  .testimonials .right-effect{
    border-radius: 70px;
    height: 110px;
   width: 400px;
    top: 30%;
    right: -290px;
  }
  .testimonials .last-effect{
    border-radius: 70px;
    display: block;
    height: 110px;
   width: 400px;
   bottom: 20%;
   left: -290px;
  }
  .testimonials-articles article .image{
    margin: 15px;
  }

  .testimonials-articles article>div p:first-of-type{
    font-size: 4vw;
  }
  .testimonials-content>img{
    position: absolute;
    left: -25%;
    width: 400px;
    z-index: -1;
    top: 29%;
  }

}

@media (max-width: 290px) {
  .testimonials{
    height: 850px;
  }
  .testimonials-articles{
    top: 100px;
  }
  .testimonials-articles article .image{
    width: 90%;
  }
  .testimonials-articles article>div:last-of-type{
    width: 90%;
  }
}

@media (min-width: 1600px){
  .testimonials{
    height: 700px;
  }
}
